<html>
   <head>
       <title>Man's Blog</title>
   </head>
   <body>
       <div>
           <h1><a href="/">Man's Blog</a></h1>
       </div>

       <div>
           <p>published: 14.06.2014, 12:14</p>
           <h2><a href="">First post at the light side</a></h2>
           <p> Hang up, man!</p>
       </div>

       <div>
           <p>published: 14.06.2014, 12:14</p>
           <h2><a href="">Second post</a></h2>
           <p>
             What is it?
             Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
       </div>
   </body>
</html>
